docx
pandas==1.1.5
tqdm
dash==2.0.0
dash-core-components==2.0.0
dash-extensions==0.0.67
dash-html-components==2.0.0
dash-renderer==0.7.3
dash-table==5.0.0
dash-bootstrap-components
plotly==5.5.0
plotly-express==0.4.1
haversine==2.3.0
hdbscan
visdcc
dash_daq
urlextract==1.2.0
validators==0.18.2
datetime
umap-learn==0.5.1
json5==0.9.6
jsonnet==0.17.0
jsonschema==3.2.0
geojson
gunicorn
whitenoise
numpy==1.20.0
scipy==1.6.0
scikit-learn==0.23.2